{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="SRP Labs: College Administration Portal">
    <meta name="author" content="Maharshi, Yogesh, Jatin">
    <meta name="copyright" content="SRP labs">

    <title>SRP Labs</title>

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4749635144548315",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>
    {% csrf_token %}
    <div id="app"></div>
    <script type="text/javascript" src="/static/bundles/js-a5f6ed8b2a93fc3d08f7.js" ></script>
    <script type="text/javascript" src="/static/bundles/vendor-a5f6ed8b2a93fc3d08f7.js" ></script>
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/footer-reveal.min.js"></script>
    <script type="text/javascript" src="/static/js/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
</body>

</html>
